* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "shabnam";
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
} 

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: shabnam;
  src: url("/font/shabnam/Shabnam-FD.woff");
  font-display: block
}
.custome-grid{
  grid-template-columns: repeat(auto-fill  , minmax(285px, 1fr));
}

@tailwind base;
@tailwind components;
@tailwind utilities;
